.bg-primary {
    background: #C2292F !important;
}

.space {
    padding-left: 45px;
    padding-right: 45px;
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 50px;
    font-size: 24px;
    font-family: manrope;
    font-weight: 500;
    letter-spacing: -1px;
}

.login {
    margin-bottom: 35px;
    color: white;
    font-family: manrope;
    font-weight: 800;
    font-size: 32px;
    letter-spacing: -2px;
    position: relative;
}

.login label {
    display: block;
    margin-bottom: -20px;
    background-color: white;
    z-index: 3;
    border: 1px solid white;
}

.login input {
    background: transparent;
    border: 3px solid white;
    border-radius: 10px;
    outline: none;
    width: 100%;
    display: flex;
    flex-direction: column;
    color: white;
}

.dados {
    display: block;
    position: relative;
    width: max-content;
    margin-bottom: -30px;
    background-color: #C2292F;
    margin-left: 30px;
}

.button-login {
    background: white;
    border: none;
    padding: 10px;
    border-radius: 15px;
    color: #C2292F;
    font-family: manrope;
    font-weight: 800;
    font-size: 32px;
    letter-spacing: -2px;
}

.rodape {
    display: flex;
    height: 120px;
    margin-top: 150px;
    background-color: #C2292F;
    width: 100%;
}

.cadastro input {
    background: transparent;
    border: 3px solid white;
    border-radius: 10px;
    outline: none;
    width: 100%;
    display: flex;
    flex-direction: column;
    color: white;
}

.cadastro {
    color: white;
}

.rodape h3 {
    color: white;
    font-family: manrope;
    font-weight: 300;
    font-size: 16px;
    padding-left: 320px;
}


.logo-rodape {
    margin-right: 320px;
}

.button-cadastro {
    background: #E8A726;
    color: white;
    font-size: 30px;
    font-family: manrope;
    font-weight: 500;
    letter-spacing: -2px;
    border: none;
    display: flex;
    align-items: center;
    width: 100%;
    border-radius: 10px;
    justify-content: center;
    margin-top: 25px;
}

.login-area {
    text-align: center;
    border-radius: 50px;
    color: white;
    background-color: #C2292F;
    width: 300px;
    height: 50px;
    border-radius: 50px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
}

.login-area p {
    padding: 10px;
    font-size: 20px;
    text-align: center;
    border-radius: 50px;
    color: white;
    font-family: manrope;
    font-weight: 500;
    letter-spacing: -1px;
    background-color: #C2292F;
}

.login-area img {
    margin-top: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.solicitacao {
    background-color: #C2292F;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
    height: 250px;
    width: 250px;
    border-radius: 20px;
}

.solicitar {
    width: min-content;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.confirmar {
    border: none;
    background-color: #E8A726;
    width: 520px;
    height: 80px;
    color: white;
    font-family: manrope;
    font-weight: 800;
    font-size: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    letter-spacing: -2px;
    border-radius: 15px;
    margin-top: 15px;
}

.painel {
    display: flex;
    gap: 200px;
}

.diario {
    width: 700px;
    height: 250px;
    background-color: #E84624;
    border-radius: 15px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.diario h1 {
    font-family: manrope;
    letter-spacing: -2px;
    font-weight: 800;
}

.diario p {
    font-size: 30px;
    font-family: manrope;
    font-weight: 500;
    letter-spacing: -2px;
    line-height: 1.2;
}

.botaopedido {
    display: flex;
    justify-content: center;
}

.botaopedido button {
    border: 2px solid #E84624;
    font-size: 40px;
    padding: 30px;
    width: 250px;
    border-radius: 50px;
    font-family: manrope;
    font-weight: 800;
    background-color: white;
    letter-spacing: -2px;
    color: #E84624;
    margin-top: -50px;
    z-index: 1;
}

.pedidosrealizados {
    width: 700px;
    height: 345px;
    background-color: #E84624;
    border-radius: 15px;
    margin-top: -50px;
    color: white;
    display: flex;
    justify-content: flex-start;
    padding: 70px;
    flex-direction: column;
    position: relative;
}

.pedido {
    display: flex;
    align-items: center;    
    justify-content: center; 
    gap: 10px;
    flex-direction: row;
    background-color: #E8A726;
    align-items: center;
    padding: 20px;
    border-radius: 15px;
}

.pedido h1 {
    font-family: manrope;
    font-weight: 800;
    letter-spacing: -2px;
    justify-content: center;
    font-size: 30px;
    margin: 0;
}

.pedido img {
    display: flex;
    justify-content: center;
}

.col-lg-6 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.aba-semaforo {
    background-color: #EFAC2B;
    padding: 8px 20px;
    border-top-left-radius: 15px; /* Arredonda o canto interno */
    border-bottom-right-radius: 15px; /* Segue o arredondamento do pai */
    
    /* Isso joga ele para o canto, mas SÓ funciona se o pai for relative */
    position: absolute;
    bottom: 0;
    right: 0;
    
    /* Ajuste de flexbox para o texto e a bolinha dentro dele */
    display: flex;
    align-items: center;
    gap: 8px;
    color: white;
    font-weight: bold;
    flex-direction: row;
}

.aba-semaforo h1 {
    font-family: manrope;
    font-weight: 800;
    letter-spacing: -2px;
    font-size: 30px;
    margin: 0;
}

.circulo-amarelo {
    background-color: red;
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.sucesso {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    flex-direction: row;
}

.acessarconta {
    border: none;
    font-family: manrope;
    font-weight: 800;
    background-color: #C2292F;
    color: white;
    padding: 20px;
    padding-left: 40px;
    padding-right: 40px;
    border-radius: 15px;
    font-size: 35px;
    letter-spacing: -2px;
}
